.navbar{
    height: 6rem;
    position: absolute;
    top: 0;
    width: 100%;
}

.navbar-brand {
    font-size: 36px;
    font-weight: 900;
    font-family: 'Barlow', sans-serif;
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 15px 0 15px;
}

.nav-link{
    margin-left: 15px;
    margin-right: 15px;
    font-size: 18px;
    color: white !important;
    display: flex;
    justify-content: center;
}

.navbar-container {
    display: flex;
    justify-content: center;
    padding: 15px;
}

.navbar-toggled {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    background-color: white;
    z-index: 1;
}

.navbar-toggled a {
    margin-bottom: 0.5rem;
}

.navbar-toggled .btn {
    margin-bottom: 1rem;
}

.navbar-toggled .nav-link{
    color: grey !important;
}

.navbar-toggled .btn {
    background-color: var(--yellow);
}

.navbar-toggled .btn:hover {
    background-color: var(--yellow);
    color: black;
}

.btn {
    padding: 0.8rem 1.6rem 0.8rem 1.6rem;
    border-radius: 2rem;
    border: none;
    margin-left: 15px;
    margin-right: 15px;
    align-self: center;
    width: 150px;
}

.btn:hover{
    background-color: var(--header-hover);
    color:white;
}

.toggler {
    margin-right: 2rem;
}

.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,<svg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/></svg>");
}

.navbar-dark .navbar-toggler{
    border-color: white;
}

a {
    display: flex;
    justify-content: center;
    align-items: center;
}