:root{
  --soft-red: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  --header: hsl(195, 100%, 50%);
  --header-hover: hsl(197, 95%, 70%);
  --Dark-desaturated: hsl(167, 40%, 24%);
  --Darkblue: hsl(198, 62%, 26%);
  --Dark-moderate-cyan: hsl(168, 34%, 41%);
  --Very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --Very-dark-grayish-blue: hsl(213, 9%, 39%);
  --Dark-grayish-blue: hsl(232, 10%, 55%);
  --Grayish-blue: hsl(210, 4%, 67%);
}

.App {
  height: 100vh;
  background-color: var(--header);
}